@charset "UTF-8";

/* Fonts */
@font-face {
    font-family: 'Destroyers';
    src: url(Destroyers.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PDBoldItalic';
    src: url(PDBoldItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PDBold';
    src: url(PDBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Body Styles */
/* Headers */
h1 {
    font-family: Destroyers, Garamond, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
    letter-spacing: 25px;
    color: white;
    text-shadow: 5px 5px 2px rgb(57,120,128);
}
h2 {
    font-family: PDBold, Garamond, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    text-align: center;
    line-height: 2px;
    color: white;
}
header {
    background-color: rgba(31,147,86, 0.5);
}
html {
    background-image: url(Coding.jpg);
}

/* Navigation */
nav {
    text-align: center;
    font-family: PDBold, Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(31,147,86, 0.5);
}
li {
    display: inline-block;
    padding: 5px;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: rgb(57,120,128);
    color: white;
}

/* Body */
.Container {
    display: block;
    width: 90%;
    margin: auto;
}
.Col1 {
    float: left;
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 7%;
    padding: 10px;
    background-color: rgba(57,120,128,0.5);
    color: white;
}
aside {
    font-family: Destroyers, Garamond, 'Times New Roman', Times, serif;
    color: white;
    font-size: 24px;
    float: right;
    width: 20%;
    margin-right: 2%;
    margin-top: 12%;
    text-align: center;
    background-color: rgba(57,120,128,0.5);
}

/* Footer */
footer {
    font-family: PDBold, Garamond, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 30px;
    position: fixed;
    text-align: center;
    background-color: rgba(31,147,86, 0.5);
    left: 0;
    bottom: 0;
    width: 100%;
}